[mysqld]
# パフォーマンス改善のための設定
innodb_flush_log_at_trx_commit = 2
sync_binlog = 0
slow_query_log = OFF
general_log = OFF

# メモリ設定
innodb_buffer_pool_size = 128M
innodb_log_file_size = 64M

# 接続設定
max_connections = 100

# その他の最適化
query_cache_type = ON
query_cache_size = 32M 